<section class="content-header">
    <h1>
        User
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-users"></i> Home</a></li>
        <li class="active">User</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                    <button type="button" class="btn btn-primary" ui-sref="userNew"><i class="fa fa-plus"></i> Add</button>
                    <!--<a ui-sref="userNew"><i class="fa fa-plus"></i> Add</a>--></h3>
                    <div class="box-tools">                                               
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" ng-model="q" class="form-control pull-right" placeholder="Search">
                            <div class="input-group-btn">
                                <button type="button" ng-click="getData()" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Full Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in Userlist">
                                <td>{{user.UserName}}</td>
                                <td>{{user.Email}}</td>
                                <td>{{user.FullName}}</td>
                                <td><a ui-sref="userDetail({id : user.Id})"><i class="fa fa-edit"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li ng-class="{'disabled': page == 0}"><a href="#" ng-click="prev()">&laquo;</a></li>
                        <li><a>{{page + 1}} of {{totalPage}}</a></li>                       
                        <li ng-class="{'disabled': page == totalPage- 1}"><a href="#" ng-click="next()">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</section>