<div ng-class="{ 'text-center alert': error, 'alert-success': status === 200, 'alert-danger': status != 200 }" ng-if="error" ng-bind="error"></div>
<section class="content-header">
    <h1>
        User Detail
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-users"></i> Home</a></li>
        <li class="active">User</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{data.UserName}}</h3>
                </div>
                <form name="form" role="form" ng-submit="Save()">
                    <div class="box-body">
                        <div class="form-group" ng-class="{ 'has-error': (form.username.$dirty && form.username.$error.required) || (form.username.$dirty && form.username.$error.useravailable) }">
                            <label for="username">User Name</label>
                            <input type="text" class="form-control" name="username" useravailable ng-model="data.UserName" placeholder="Enter username" required>
                            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                            <span ng-show="form.username.$error.useravailable" class="help-block">Someone already has that username</span>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': (form.email.$dirty && form.email.$error.required) || (form.email.$dirty && form.email.$invalid) || (form.email.$dirty && form.email.$error.emailexist) }">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" name="email" emailexist ng-model="data.Email" placeholder="Enter email" required>
                            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                            <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Email format is not valid</span>
                            <span ng-show="form.email.$dirty && form.email.$error.emailexist" class="help-block">Email address already exist</span>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': form.FullName.$dirty && form.FullName.$error.required }">
                            <label for="FullName">Full Name</label>
                            <input type="text" class="form-control" name="FullName" ng-model="data.FullName" placeholder="Enter Full Name" required>
                            <span ng-show="form.FullName.$dirty && form.FullName.$error.required" class="help-block">Full Name is required</span>
                        </div>
                        <div class="form-group">
                            <label for="Password">Password</label>
                            <input type="password" class="form-control" name="Password" ng-model="data.Password" placeholder="Enter Password">
                        </div>
                        <div class="form-group">
                            <label for="Chk">Roles</label>
                            <div ng-repeat="role in roles" class="checkbox">
                                <label>
                                    <input type="checkbox" data-checklist-model="data.Roles" data-checklist-value="role"> {{ role.RoleName}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button id="btnSubmit" type="submit" ng-disabled="(form.$invalid ||loading) && !data.Id  " class="btn btn-primary btn-block btn-flat"><i class="fa fa-spinner fa-spin" ng-show="loading"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>