<div class="modal fade in" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <form name="frmRole" ng-submit="saveData(Role);reset();" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{Role.RoleName}}</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group has-feedback" ng-class="{ 'has-error': (frmRole.rolename.$dirty && frmRole.rolename.$error.required) || (frmRole.rolename.$dirty && frmRole.rolename.$error.roleExist) }">
                            <label for="rolename">Role Name</label>
                            <input type="text" class="form-control" checkrole ng-model="Role.RoleName" placeholder="role name" name="rolename" id="rolename" required />
                            <span class="form-control-feedback"></span>
                        </div>
                    </div>  
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="rolename">Description</label>
                            <input type="text" class="form-control" checkrole ng-model="Role.Description" placeholder="role name" name="roleDesc" id="roleDesc" />                           
                        </div>
                    </div>                     
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="reset();" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSave" ng-disabled="frmRole.$invalid ||loading" class="btn btn-primary"><i class="fa fa-spinner fa-spin" ng-show="loading"></i> Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>